# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# init
.#*
.cache
ac-comphist.dat
backup
bookmarks
company-statistics-cache.el
custom.el
ddskk
eln-cache
elpa
eshell
ielm-history.eld
kkcrc
persp-confs
projects
recentf
request
server
skk
tramp
transient
undo
url
