# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# init
.#*
.cache
ac-comphist.dat
backup
custom.el
elpa
eshell
kkcrc
persp-confs
recentf
server
transient
undo
url
eln-cache

projects
